<div class="summary-size">
  <div>
    <h3>{{ subtractMonths(getCurrentMonth(), 3) }}</h3>
    @for(agent of craGeneratorStore.getAgentsByCurrentProject(); track agent.id) {
      <div>
        <h5>{{ agent.nom }}</h5>
        <div>
          <h6>Jours travaillés : {{ craGeneratorStore.getNumberOfImputationsDaysByMonthAndType("workingDay", agent.id, subtractMonths(getCurrentMonth(), 3)) }} </h6>
          <h6>Jours de congés : {{ craGeneratorStore.getNumberOfImputationsDaysByMonthAndType("dayOff", agent.id, subtractMonths(getCurrentMonth(), 3)) }} </h6>
        </div>
      </div>
    }
  </div>
  <div>
    <h3>{{ subtractMonths(getCurrentMonth(), 2) }}</h3>
    @for(agent of craGeneratorStore.getAgentsByCurrentProject(); track agent.id) {
      <div>
        <h5>{{ agent.nom }}</h5>
        <div>
          <h6>Jours travaillés : {{ craGeneratorStore.getNumberOfImputationsDaysByMonthAndType("workingDay", agent.id, subtractMonths(getCurrentMonth(), 2)) }} </h6>
          <h6>Jours de congés : {{ craGeneratorStore.getNumberOfImputationsDaysByMonthAndType("dayOff", agent.id, subtractMonths(getCurrentMonth(), 2)) }} </h6>
        </div>
      </div>
    }
  </div>
  <div>
    <h3>{{ subtractMonths(getCurrentMonth(), 1) }}</h3>
    @for(agent of craGeneratorStore.getAgentsByCurrentProject(); track agent.id) {
      <div>
        <h5>{{ agent.nom }}</h5>
        <div>
          <h6>Jours travaillés : {{ craGeneratorStore.getNumberOfImputationsDaysByMonthAndType("workingDay", agent.id, subtractMonths(getCurrentMonth(), 1)) }} </h6>
          <h6>Jours de congés : {{ craGeneratorStore.getNumberOfImputationsDaysByMonthAndType("dayOff", agent.id, subtractMonths(getCurrentMonth(), 1)) }} </h6>
        </div>
      </div>
    }
  </div>
</div>
